

.animeDetail {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.animeDetail img {
    width: 100%;
    border-radius: 8px;
}

.animeDetail h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

.animeDetail p {
    line-height: 1.6;
    margin: 0.5em 0;
}

.animeDetail a {
    display: inline-block;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.animeDetail a:hover {
    background-color: #218838;
}
.closeButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.closeButton:hover {
    background-color: #c82333;
}
